<div id="fitem_id_latex_answer" class="form-group row fitem has-danger">
    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">

        <label class="d-inline word-break " for="id_latex_answer">
            Ответ на задание
        </label>

        <div class="ml-1 ml-md-auto d-flex align-items-center align-self-start">
            <div class="text-danger" title="Необходимо заполнить">
                <i class="icon fa-exclamation-circle text-danger fa fa-fw "
                   title="Необходимо заполнить"
                   aria-label="Необходимо заполнить">
                </i>
            </div>
        </div>
    </div>
    <div class="col-md-9 form-inline align-items-start felement" data-fieldtype="text">
        <div id="latex_answer" class="latex-container" aria-describedby="id_error_latex_answer" aria-invalid="false"></div>
        <div class="form-control-feedback invalid-feedback d-none" id="id_error_latex_answer" tabindex="0">
        </div>
    </div>
</div>