<div class="form-group">
    <div class="col">
        {{> mod_latex/components/task-info }}
        {{> mod_latex/components/submissions }}
        {{> mod_latex/components/grades }}
        {{> mod_latex/components/submissions-edit }}
        {{> mod_latex/components/submission-list }}
    </div>
</div>