{{#params}}
    <div class="form-group row fitem hidden-input">
        <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
            <label class="d-inline word-break " for="id_answer">
                Шаг {{stepNumber}}
            </label>
        </div>
        <div class="col-md-9 form-inline align-items-start felement" data-fieldtype="text">
            <input type="text" class="form-control " name="step[]" id="{{idLatex}}" value="">
        </div>
    </div>
{{/params}}