<div style="margin-left: 1.5rem; margin-bottom: 3rem;">
    <div class="d-flex flex-column">
        <h4>Шаги решения</h4>
        <div id="container_steps"></div>
        <button class="btn btn-primary" id="add-step">
            Добавить шаг
        </button>
    </div>
</div>